@model SalaryApp.Models.PG_ListViewModel
@using SalaryApp.Models

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Header.PaymentsGroupId)
    <h4>Подтвердите удаление счета</h4>
    <hr />
    @Html.Partial("Details")

    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Удалить счет" name="action:ConfirmDelete" class="btn btn-default" />
            <input type="submit" value="Отменить" name="action:CancelDelete" class="btn btn-default" />
        </div>
    </div>
}
